<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>monitor-project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>shiroEnvironmentClass</param-name>
    <param-value>org.apache.shiro.web.env.IniWebEnvironment</param-value>
  </context-param>
  <context-param>
    <param-name>shiroConfigLocations</param-name>
    <param-value>classpath:shiro.ini</param-value>
  </context-param>
  <filter>
	  <filter-name>ShiroFilter</filter-name>
	  <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
  </filter>
  <filter-mapping>
	  <filter-name>ShiroFilter</filter-name>
	  <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- <listener>
    <listener-class>timemail.TimeMailListener</listener-class>
  </listener> -->
  <servlet>
    <servlet-name>SFastOETServlet</servlet-name>
    <servlet-class>service.impl.SFastOETServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SFastOETServlet</servlet-name>
    <url-pattern>/SFastOETServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FastClockServlet</servlet-name>
    <servlet-class>service.impl.FastClockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FastClockServlet</servlet-name>
    <url-pattern>/FastClockServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SFastClockServlet</servlet-name>
    <servlet-class>service.impl.SFastClockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SFastClockServlet</servlet-name>
    <url-pattern>/SFastClockServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FastOETServlet</servlet-name>
    <servlet-class>service.impl.FastOETServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FastOETServlet</servlet-name>
    <url-pattern>/FastOETServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DailydServlet</servlet-name>
    <servlet-class>service.impl.DailydServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DailydServlet</servlet-name>
    <url-pattern>/DailydServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DailyrServlet</servlet-name>
    <servlet-class>service.impl.DailyrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DailyrServlet</servlet-name>
    <url-pattern>/DailyrServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DailynServlet</servlet-name>
    <servlet-class>service.impl.DailynServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DailynServlet</servlet-name>
    <url-pattern>/DailynServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DailygServlet</servlet-name>
    <servlet-class>service.impl.DailygServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DailygServlet</servlet-name>
    <url-pattern>/DailygServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DailypServlet</servlet-name>
    <servlet-class>service.impl.DailypServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DailypServlet</servlet-name>
    <url-pattern>/DailypServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HourlydServlet</servlet-name>
    <servlet-class>service.impl.HourlydServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HourlydServlet</servlet-name>
    <url-pattern>/HourlydServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HourlyrServlet</servlet-name>
    <servlet-class>service.impl.HourlyrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HourlyrServlet</servlet-name>
    <url-pattern>/HourlyrServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HourlynServlet</servlet-name>
    <servlet-class>service.impl.HourlynServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HourlynServlet</servlet-name>
    <url-pattern>/HourlynServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HourlygServlet</servlet-name>
    <servlet-class>service.impl.HourlygServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HourlygServlet</servlet-name>
    <url-pattern>/HourlygServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HourlypServlet</servlet-name>
    <servlet-class>service.impl.HourlypServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HourlypServlet</servlet-name>
    <url-pattern>/HourlypServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DailydFormServlet</servlet-name>
    <servlet-class>service.impl.DailydFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DailydFormServlet</servlet-name>
    <url-pattern>/DailydFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DailygFormServlet</servlet-name>
    <servlet-class>service.impl.DailygFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DailygFormServlet</servlet-name>
    <url-pattern>/DailygFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DailynFormServlet</servlet-name>
    <servlet-class>service.impl.DailynFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DailynFormServlet</servlet-name>
    <url-pattern>/DailynFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DailypFormServlet</servlet-name>
    <servlet-class>service.impl.DailypFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DailypFormServlet</servlet-name>
    <url-pattern>/DailypFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DailyrFormServlet</servlet-name>
    <servlet-class>service.impl.DailyrFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DailyrFormServlet</servlet-name>
    <url-pattern>/DailyrFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HourlydFormServlet</servlet-name>
    <servlet-class>service.impl.HourlydFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HourlydFormServlet</servlet-name>
    <url-pattern>/HourlydFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HourlygFormServlet</servlet-name>
    <servlet-class>service.impl.HourlygFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HourlygFormServlet</servlet-name>
    <url-pattern>/HourlygFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HourlynFormServlet</servlet-name>
    <servlet-class>service.impl.HourlynFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HourlynFormServlet</servlet-name>
    <url-pattern>/HourlynFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HourlypFormServlet</servlet-name>
    <servlet-class>service.impl.HourlypFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HourlypFormServlet</servlet-name>
    <url-pattern>/HourlypFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HourlyrFormServlet</servlet-name>
    <servlet-class>service.impl.HourlyrFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HourlyrFormServlet</servlet-name>
    <url-pattern>/HourlyrFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FastIoniServlet</servlet-name>
    <servlet-class>service.impl.FastIoniServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FastIoniServlet</servlet-name>
    <url-pattern>/FastIoniServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FinalOETServlet</servlet-name>
    <servlet-class>service.impl.FinalOETServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinalOETServlet</servlet-name>
    <url-pattern>/FinalOETServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FinalClockServlet</servlet-name>
    <servlet-class>service.impl.FinalClockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinalClockServlet</servlet-name>
    <url-pattern>/FinalClockServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FinalIoniServlet</servlet-name>
    <servlet-class>service.impl.FinalIoniServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinalIoniServlet</servlet-name>
    <url-pattern>/FinalIoniServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendSuFastServlet</servlet-name>
    <servlet-class>service.impl.SendSuFastServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendSuFastServlet</servlet-name>
    <url-pattern>/SendSuFastServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendFastServlet</servlet-name>
    <servlet-class>service.impl.SendFastServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendFastServlet</servlet-name>
    <url-pattern>/SendFastServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendFinalServlet</servlet-name>
    <servlet-class>service.impl.SendFinalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendFinalServlet</servlet-name>
    <url-pattern>/SendFinalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendFailServlet</servlet-name>
    <servlet-class>service.impl.SendFailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendFailServlet</servlet-name>
    <url-pattern>/SendFailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendSuFastFormServlet</servlet-name>
    <servlet-class>service.impl.SendSuFastFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendSuFastFormServlet</servlet-name>
    <url-pattern>/SendSuFastFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendFastFormServlet</servlet-name>
    <servlet-class>service.impl.SendFastFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendFastFormServlet</servlet-name>
    <url-pattern>/SendFastFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendFinalFormServlet</servlet-name>
    <servlet-class>service.impl.SendFinalFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendFinalFormServlet</servlet-name>
    <url-pattern>/SendFinalFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendFailFormServlet</servlet-name>
    <servlet-class>service.impl.SendFailFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendFailFormServlet</servlet-name>
    <url-pattern>/SendFailFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowImageServlet</servlet-name>
    <servlet-class>service.impl.ShowImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowImageServlet</servlet-name>
    <url-pattern>/ShowImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowImagesServlet</servlet-name>
    <servlet-class>service.impl.ShowImagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowImagesServlet</servlet-name>
    <url-pattern>/ShowImagesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CrontabServlet</servlet-name>
    <servlet-class>service.impl.CrontabServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrontabServlet</servlet-name>
    <url-pattern>/CrontabServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CrontabFormServlet</servlet-name>
    <servlet-class>service.impl.CrontabFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrontabFormServlet</servlet-name>
    <url-pattern>/CrontabFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductUploadServlet</servlet-name>
    <servlet-class>service.impl.ProductUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductUploadServlet</servlet-name>
    <url-pattern>/ProductUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BusinessProcessDisplayServlet</servlet-name>
    <servlet-class>service.impl.BusinessProcessDisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusinessProcessDisplayServlet</servlet-name>
    <url-pattern>/BusinessProcessDisplayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReadConfigFileServlet</servlet-name>
    <servlet-class>service.impl.ReadConfigFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadConfigFileServlet</servlet-name>
    <url-pattern>/ReadConfigFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowFileServlet</servlet-name>
    <servlet-class>service.impl.ShowFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowFileServlet</servlet-name>
    <url-pattern>/ShowFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WriteConfigFileServlet</servlet-name>
    <servlet-class>service.impl.WriteConfigFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteConfigFileServlet</servlet-name>
    <url-pattern>/WriteConfigFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DailylServlet</servlet-name>
    <servlet-class>service.impl.DailylServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DailylServlet</servlet-name>
    <url-pattern>/DailylServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DailylFormServlet</servlet-name>
    <servlet-class>service.impl.DailylFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DailylFormServlet</servlet-name>
    <url-pattern>/DailylFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HourlylServlet</servlet-name>
    <servlet-class>service.impl.HourlylServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HourlylServlet</servlet-name>
    <url-pattern>/HourlylServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HourlylFormServlet</servlet-name>
    <servlet-class>service.impl.HourlylFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HourlylFormServlet</servlet-name>
    <url-pattern>/HourlylFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPicPathServlet</servlet-name>
    <servlet-class>service.impl.GetPicPathServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPicPathServlet</servlet-name>
    <url-pattern>/GetPicPathServlet</url-pattern>
  </servlet-mapping>
</web-app>